/* ---- Navbar Custom Styling ---- */

.navbar {

    padding: 5px; 
}

.nav-text {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-right: 20px;
}

.bran-text {

    font-family: 'Josefin Slab', serif;
    padding: 5px;
    margin: 0px;
    margin-right: 24px;
    font-size: 48px;
    margin-top: auto;
    margin-left: 10px;
}

.nav-list-cust {

    margin-left: auto;
}

.navbar-collapse {

 margin: 0px;
 padding: 0px;
}

.nav-item {

    margin-right: 30px;
    padding-top: 20px;
}

/* ---- Callout ---- */

.callout-background {
   height: 100vh;
   background: url(../images/background.jpg) no-repeat top left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

}

/* ---- Jumbotron ---- */

.jumbotron {
    margin: auto;
    background-color: rgba(134, 134, 134, 0.685);
    margin-bottom: 40px;
    border-radius: 15px;
}

.jumbo-head {
    color: rgb(255, 255, 255);   
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
    font-size: 58px;

}

.lead {
    font-weight: 500;
     color: rgb(255, 255, 255);   
    font-family: 'Permanent Marker', cursive;
}

/* ---- Dividers ----*/

hr {

margin: 0px;
padding: 0px;
}

.divider {

    background-color: rgba(92, 92, 92, 0.863);
    height: 1px;
    width: 600px;
    margin: auto;
}

/* ---- Mobile fixes  ---- */
.mobile-background {

    width: 100%;
    height: 45vh;
    margin-top: 50px;
}

/* ---- Media Querys ---- */

@media (max-width: 991px) {

/*Nav Bar*/

.nav-list-cust {

    padding: 0px;
    margin: 0px;
}

.nav-item {

    margin-right: 30px;
    padding-top: 10px;
}

/* Dividers*/

.top-divider {

    width: 100%;
    margin-top: 10px;
}

hr {
    
    margin: 0px;
    padding: 0px;
    width: 275px;
}

}